.questions__wrapper {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 0 108px 0;

  @media (max-width: $desktop) {
    max-width: 678px;
    padding: 0 0 73px 0;
  }

  @media (max-width: $tablet) {
    padding: 0 15px 60px;
  }

  h2 {
    font-family: "CormorantGaramond", "Times New Roman", serif;

    @include font(700, 34px, 44px);
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 0 50px 0;

    @media (max-width: $tablet) {
      margin: 0 0 28px 0;
    }
  }
}

.questions__container {
  border: 1px solid $brown;
}

.questions__question {
  border-bottom: 1px solid $brown;

  &:last-child {
    border-bottom: none;
  }

  p {
    display: none;
    margin: 8px 0 42px 48px;
    max-width: 527px;

    @include font(400, 16px, 21px);

    @media (max-width: $desktop) {
      max-width: 534px;
      margin: 25px 0 45px 48px;
    }

    @media (max-width: $tablet) {
      @include font(400, 14px, 20px);
      margin: 14px 55px 19px 24px;
    }
  }
}

.questions__question.active {
  p {
    display: block;
  }

  svg {
    transform: rotate(180deg);
  }
}

.questions__question.active a {
  padding: 42px 47px 0 43px;

  @media (max-width: $desktop) {
    padding: 42px 47px 0 49px;
  }

  @media (max-width: $tablet) {
    @include font(500, 16px, 22px);
    padding: 16px 20px 0 23px;

    span {
      max-width: 182px;
    }
  }
}

.questions__return {
  a br {
    display: none;
  }
}


.tumbler {
  a {
    @include font(500, 18px, 23px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 42px 47px 45px 43px;
    color: $dark;

    &:hover {
      opacity: 0.7;
    }
  }

  svg {
    stroke: $brown;
  }

  @media (max-width: $desktop) {
    a {
      padding: 42px 48px 45px 48px;
    }

    svg {
      width: 27px;
      height: 16px;
    }
  }

  @media (max-width: $tablet) {
    a {
      @include font(500, 16px, 22px);
      padding: 18px 21px 19px 24px;
      align-items: flex-start;
    }

    svg {
      margin: 5px 0 0 0;
      width: 24px;
      height: 13px;
    }
  }
}

@media (max-width: $tablet) {
  .questions__delivery .tumbler {
    span {
      max-width: 145px;
    }
  }

  .questions__payment .tumbler {
    span {
      max-width: 165px;
    }
  }

  .questions__return .tumbler {
    span br {
      display: block;
    }
  }
}
